/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.section {
  background: var(--beige);
  padding: 15px;
  margin-bottom: 15px;
}

.box {
  background: var(--white);
  border: 0.5px solid var(--grey);
  font-family: "Lato", sans-serif;
  font-size: 50px;
  line-height: 75px; /* 150% */
  text-align: center;
  padding: 0 15px;
}

/* ====================================
// base rules
// ==================================== */

.section-1 {
  display: flex;
}

.section-1 .box {
  width: calc(100% / 4);
}

.section-2 {
  display: flex;
  flex-wrap: wrap;
}

.section-2 .box {
  width: calc(100% / 2);
}

.section-3 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-4 .box {
  flex: calc(50% - 15px);
}

.section-5 {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
}

.section-5 .box-4 {
  padding: 50px 15px;
}

.section-5 .box-2 {
  padding: 20px 15px;
}
